.topo {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.topo img {
    width: 75px;
    height: 53px;
}

.topo ion-icon {
    width: 43px;
    height: 31px;
}

.chat {
    margin-top: 106px;
    margin-bottom: 90px;
    font-family: Roboto;
    background-color: #F1F1F1;
    box-sizing: border-box;
}

.chat li{
    margin-top: 8px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 130px;
}

.chat div{
    font-family: Roboto;
    font-size: 14px;
}

.chat span{
    color: #AAAAAA
}

.mensagem {
    display: flex;
    justify-content: space-between;
}

.status {
    box-sizing: border-box;
    border: 10px solid #DCDCDC;
    background-color: #DCDCDC;
}

strong {
    font-weight: 700;
}

.normais {
    box-sizing: border-box;
    border: 10px solid #FFFFFF;
    background-color: #FFFFFF;
}

.reservadas {
    box-sizing: border-box;
    border: 10px solid #FFDEDE;
    background-color: #FFDEDE;
}

.bottom {
    height: 80px;
    width: 100%;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
}

.bottom input {
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.escrita {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: 80px;
    position: relative;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
}

.bottom ion-icon {
    height: 26px;
    width: 26px;
    z-index: 5;
    bottom: 27px;
    right: 27px;
    position: absolute;
}
